{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<h1>Buy</h1>
<p>How many shares would you like to buy?</p>
<form action="/buy" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text"/><br>
        <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Number of Shares" type="number"/><br>
        <button class="btn btn-primary" type="submit">Buy</button>
    </div>
</form>
{% endblock %}